.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  @extend %container;
  display: flex;
  text-align: center;
}

.header__list-contacts {
  display: flex;
  text-align: center;
  margin-left: 315px;
}

.header__tel,
.header__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 30px;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &:hover .header__icon-smartphone,
  &:focus .header__icon-smartphone {
    fill: var(--accent-text-color);
  }
}

.header__mail {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &:hover .header__icon-envelope,
  &:focus .header__icon-envelope {
    fill: var(--accent-text-color);
  }
}

.header__icon-envelope {
  fill: #757575;
  margin-right: 10px;
}

.header__icon-smartphone {
  fill: #757575;
  margin-right: 10px;
}
